<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="flex">
          <h1><%= title %></h1>
          <div>
            <a href="/auth/github">Login with github</a>
          </div>
        </div>
      </div>
    </header>
    <h2 class="align">Oauth using Passport</h2>
  </body>
</html>